/* вторичный цвет текста #212121 */
/*цвет основного текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
/* основной цвет фона #e5e5e5; */

/* Стили для index.html */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --primary-white-color: #ffffff;
  --footer-bg-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: roboto, sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

/* page-header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--accent-color);
  font-family: raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.logo-span {
  color: var(--title-text-color);
  font-family: raleway, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-span:hover,
.logo-span:focus {
  color: var(--accent-color);
}

/* main-nav */

.nav {
  margin-right: 331px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* site-nav */

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}
.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.link-current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.nav .site-nav {
  margin-left: 93px;
}

/* auth-nav */

.auth-nav {
  display: flex;
}

.auth-nav .item + .item {
  margin-left: 50px;
}

.auth-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* main section */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: url('../images/overlay.jpg');
  background-position: center;
  background-size: cover;
}

.main {
  text-align: center;
  background-color: var(--footer-bg-color);

  padding-top: 200px;
  padding-bottom: 200px;
}

.main-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-right: 252px;
  padding-left: 252px;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
}

/* section */

.section {
  padding-top: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

/* tasks */

.tasks {
  display: flex;
  justify-content: center;
}

.tasks .item:not(:last-child) {
  margin-right: 30px;
}

.section-title-tasks {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.tasks .title {
  margin-top: 0px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.tasks .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
}

/* our business section */

.our-business {
  display: flex;
  justify-content: center;
}

.our-business .item {
  margin-right: 30px;
}

.our-business .item:last-child {
  margin-right: 0px;
}

/* team */

.teams {
  padding-bottom: 94px;
}

.team {
  display: flex;
  justify-content: center;
  padding-top: 94px;
}

.team .item {
  margin-right: 30px;
  text-align: center;
}

.team .item:last-child {
  margin-right: 0;
}

.team .title {
  margin-top: 30px;
  margin-bottom: 0;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
}

.team .text {
  margin-top: 10px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.2px;
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: raleway, serif;
  font-size: 26px;
  line-height: 1.2;
}
.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

.address {
  margin-top: 20px;

  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer-link {
  display: inline-block;
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

/* button */

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  cursor: pointer;
  border-radius: 4px;
}

.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
}

/* стили для li */

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* стили для portfolio.html */

.cards {
  padding-bottom: 94px;
}

.progect {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.progect .item:not(:last-child) {
  margin-right: 8px;
}

.progect:last-child {
  margin-bottom: 0;
}

.progects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.progects .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.progects .item:nth-child(3n) {
  margin-right: 0;
}

.progects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.section-title-progect {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.names {
  border: 1px solid #eeeeee;

  min-width: 322px;
  padding: 20px 24px;
}

.progects .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
}

.progects .text {
  font-size: 16px;
  line-height: 1.9;
  margin-top: 4px;
}

.text {
  padding: 0;
  margin: 0;
}
